body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background: -o-linear-gradient(135deg, #ffec,rgba(0, 255, 76, 0.8),3b3e5fx);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav {
    background-color: darkblue;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav button {
   margin: 0 10 px;
   padding: 10px 20px;
   background: rgba(13, 9, 173, 0.8);
   color: aqua;
   border: none;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;
}
nav button:hover {
    background: rgba(2, 174, 253, 0.8);
}
.main-content {
    margin-top: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 100%;
}
.sticky-box {
    margin: 50px auto;
    width: 500px;
    min-height: 250px;
    padding: 20px;
    background-color:rgb(241, 11, 11);
    color: rgb(0, 255, 200);
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(255, 115, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}
ul li {
    padding: 0;
    margin: 0;
}

footer{
    background-color: cadetblue;
    padding: 10px 0;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom:0;
    color: antiquewhite;
    z-index: 10dd;
}