body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background: -o-linear-gradient(135deg, #ffec,rgb(137, 187, 152),3b3e5fx);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav {
    background-color: rgba(0, 255, 157, 0.747);
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav button {
   margin: 0 10 px;
   padding: 10px 20px;
   background: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 5px;
   font-size: 1rem;
   cursor: pointer;
}
nav button:hover {
    background: hsla(187, 73%, 45%, 0.98);
}
.main-content {
    margin-top: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 100%;
}
.sticky-box {
    margin: 50px auto;
    width: 500px;
    min-height: 250px;
    padding: 20px;
    background-color:lch(73.86% 99.18 134.05);
    color: hsl(180, 100%, 50%);
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #555353;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}
ul li {
    padding: 0;
    margin: 0;
}

footer{
    background-color: rgb(188, 190, 12);
    padding: 10px 0;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom:0;
    color: hsla(22, 100%, 37%, 0.992);
    z-index: 10dd;
}
